name: cppunit test

on:
    push:
        branches: [ master ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y g++ make libcppunit-dev

            - name: build and run test
              run: |
                  make test
                  RESULTS=`./test`

                  echo "$RESULTS"

                  if [[ "$RESULTS" != *"ok"* ]]; then
                    exit 1
                  fi
